.hero {
    padding: 150px 0 250px;
    background-image: url("../../assets/images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right 20%;

    &-content {
        max-width: 475px;
    }

    &__sub-title {
        font-size: 17px;
        line-height: 28px;
        color: var(--black-c);
        margin-bottom: 9px;
    }

    &-title {
        font-family: var(--fz-secondary);
        font-size: var(--text-title);
        font-weight: 400;
        line-height: 50px;
        color: var(--black-c);
        margin-bottom: 9px;
    }

    &__link-shop {
        max-width: 170px;
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 11px;
        background-color: var(--green-c);
        border-radius: 20px;
        color: var(--white-c);
        font-size: var(--text-lg);
        font-weight: 500;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        padding: 54px 0 58px;

        &-content {
            max-width: 300px;
        }

        &__sub-title {
            font-size: var(--text-base);
            text-shadow: 0px 0px 10px rgb(166, 158, 158);
        }

        &-title {
            font-size: 30px;
            line-height: 125%;
            margin-bottom: 18px;
            text-shadow: 0px 0px 10px rgb(166, 158, 158);
        }

        &__link-shop {
            max-width: 122px;
            padding: 8px;
            font-size: var(--text-base);
            white-space: nowrap;
        }
    }
}