.footer .footer__contact a {
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: inherit;

    &:hover {
        color: var(--green-c);
        fill: green;

        svg {
            fill: var(--green-c);
        }
    }

    svg {
        margin-right: 8px;
        color: var(--green-c);
    }
}