.aromas {
    padding: 50px 0 85px;
    text-align: center;

    &-heading {
        margin-bottom: 55px;
    }

    &-heading__sub-title {
        text-transform: uppercase;
        margin-bottom: 9px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 80px 20px;
    }

    &__list-item {
        position: relative;
    }
}